.post {
  position: relative;
  margin: 15px 20px;
  padding: 15px 50px;
  border-radius: 5px;
  background-color: #b7e5f4;
  border: 2px solid #b7e5f4;
}

span {
  font-weight: 700;
}

.date {
  text-align: right;
}

.message {
  padding-top: 10px;
}
